// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h2, h3 {
  margin-bottom: 1.2em;
}

.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center-box {
  text-align: center;
}

.instagram-logo {
  text-align: center;
  width: 200px;
  margin-bottom: 2em;
}
