// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form {
  text-align: center;
}

.field {
  margin-bottom: 1.2em;

  input {
    padding: 0.6em;
  }
}

.actions {
  text-align: center;

  input {
    background: none;
    margin-bottom: 1.2em;
  }
}

input[type="submit" i] {
  border: 1px solid #E1E1E1;
  padding:0.2em 3em 0.2em 3em;
  border-radius: 5px;
}
